.inputSearch {
    width: 500px;
}

.img-lupa {
    width: 30px;
    height: 30px;
}

.btn-lupa {
    background-color: rgb(231, 197, 3);
}

.btn-lupa:hover {
    background-color: rgb(255, 225, 56);
}