* {
  list-style: none;
}

.nav-container, .nav-scrolled {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: space-between;
  transition: all 0.3s ease-in-out;
  align-items: center;
  padding-inline: 20px;
  border-top: 2px solid #404548;
  border-radius: 0px 0px 10px 10px;
  position: fixed;
  box-shadow: 0 10px 10px -9px;
  z-index: 5;
  color: white;
}
.nav-container a, .nav-scrolled a {
  text-shadow: 1px 1px 2px black;
  font-weight: 600;
  text-decoration: none;
  color: white;
}
.nav-container a:hover, .nav-scrolled a:hover {
  color: white;
}

.nav-container .img-carro, .nav-scrolled .img-carro {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  margin-top: 2px;
}

.nav-scrolled {
  background-color: #2aa9f8;
}
.nav-container {
  background-color: #268dcc;
}
.nav-pages-container {
  width: 60%;
  height: 80%;
  display: flex;
  align-items: center;
}

.nav-pages {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}

.home {
  background-color: #ece8e8;
  height: 100vh;
}

.container-brasses, .container-drums, .container-basses, .container-guitars {
  display: flex;
  justify-content: space-between;
  opacity: 1;
  width: 25%;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  border-radius: 5px;
  margin-inline: 5px;
  margin-block: 70px;
  box-shadow: 1px 1px 1px 1px #404548;
}
.container-brasses h3, .container-drums h3, .container-basses h3, .container-guitars h3 {
  text-shadow: 1px 1px 2px black;
  color: #f7f7f7;
  margin-left: 20px;
}
.container-brasses .img-opacity, .container-drums .img-opacity, .container-basses .img-opacity, .container-guitars .img-opacity {
  opacity: 0.9;
}
.container-brasses:hover, .container-drums:hover, .container-basses:hover, .container-guitars:hover {
  width: 100%;
}

.container-brasses a, .container-drums a, .container-basses a, .container-guitars a {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-brasses a .img-resize, .container-drums a .img-resize, .container-basses a .img-resize, .container-guitars a .img-resize {
  height: 50%;
  width: 50%;
}

.container-guitars {
  background-color: #ff5d5d;
}
.container-guitars img {
  width: 470px;
  height: 410px;
}
.container-guitars a:hover {
  background-color: #fa4242;
}

.container-basses {
  background-color: #d6b468;
}
.container-basses img {
  height: 410px;
}
.container-basses a:hover {
  background-color: #c2a463;
}

.container-drums {
  background-color: #ca87ca;
}
.container-drums img {
  height: 410px;
}
.container-drums a:hover {
  background-color: #bf86bf;
}

.container-brasses {
  background-color: #02c29f;
}
.container-brasses img {
  transform: scaleX(-1);
  height: 410px;
  width: 390px;
}
.container-brasses a img {
  transform: scaleX(1);
}
.container-brasses a:hover {
  background-color: #03a084;
}

.container-brands {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.categorie-container {
  width: 80%;
  border: 1px solid black;
  margin: auto;
}

.item-img {
  height: 200px;
  width: 200px;
}

.card-img-top {
  overflow: hidden;
}

.card:hover {
  border: 1px solid black;
}

.card {
  margin: auto;
  margin-bottom: 10px;
  height: 450px;
  width: 75%;
}

.item-list-container {
  margin-top: 0px;
}

.counter {
  background-color: transparent;
  border: none;
  color: blue;
}

.container-swiper {
  height: 70vh;
}

.container-item {
  transition: all 0.2s ease-in-out;
}

.swiper-btn {
  background-color: transparent;
  border: none;
}
.swiper-btn:hover {
  background-color: #268dcc;
}

.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #404548;
  height: 150px;
}

.container-cart-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h5 {
  font-family: "Josefin Sans", sans-serif;
}

/*# sourceMappingURL=style.css.map */
