%nav {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    transition: all .3s ease-in-out;
    align-items: center;
    padding-inline: 20px;
    border-top: 2px solid rgb(64, 69, 72);
    border-radius: 0px 0px 10px 10px;
    position: fixed;
    box-shadow: 0 10px 10px -9px;
    z-index: 5;
    color: white;
    a {
        text-shadow: 1px 1px 2px black;
        font-weight: 600;
        text-decoration: none;
        color: white;
        &:hover {
            color: white;
        }
    }
}

%carro {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-top: 2px;
}

.nav-scrolled {
    @extend %nav;
    background-color: rgb(42, 169, 248);
    .img-carro {
        @extend %carro;
    }
}

.nav-container {
    @extend %nav;
    background-color: rgb(38, 141, 204);
    ;
    .img-carro {
        @extend %carro;
    }
}

.nav-pages-container {
    width: 60%;
    height: 80%;
    display: flex;
    align-items: center;
}

.nav-pages {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}