.container-swiper {
    height: 70vh;
}

.container-item {
    transition: all .2s ease-in-out;
}

.swiper-btn {
    background-color: transparent;
    border: none;
    &:hover {
        background-color: rgb(38, 141, 204);
    }
}